:root {
    --theme-color: #ff89c0;
}

.navbar{
    width: 100%;
    height: 70px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}   

.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color:rgb(233, 125, 201);
}

.title-h2 {
    color: var(--theme-color);
}

.title-h3 {
    color:rgb(95, 153, 240);
}

.title-h4 {
    color:rgb(235, 113, 133);
}

.title-h5 {
    color:rgb(169, 211, 102);
}