:root {
   --theme-color: #df2323;
 }
 
 .navbar {
   width: 100%;
   height: 150px;
   background-color: var(--theme-color);
   display: flex;
   align-items: center;
   justify-content: center;
    gap: 20px;
 }

 .div-title {
   width: 100%;
   height: 150px;
   background-color: var(--theme-color);
   display: flex;
   align-items: center;
   justify-content: center;
 }

.title-h1 {
    color:azure;
}

.title-h2 {
    color:aqua;
}

.title-h3 {
    color:#df2323;
}