:root {
   --theme-color: #df2323;
 }
 
 .navbar {
   width: 100%;
   height: 150px;
   background-color: var(--theme-color);
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .div-title {
   width: 100%;
   height: 150px;
   background-color: var(--theme-color);
   display: flex;
   align-items: center;
   justify-content: center;
 }

.title-h1 {
  color: rgb(255, 255, 255);
}
  


.title-h2 {
  color: #df2323;
  
}

.title-h3 {
  color: #3abd19;
  
}