:root {
--theme-color:

}
.dev-title {
    width: 100%;
    height: 150px;
    background-color:brown;
    display:flex;
    align-items: center;
    justify-content: center;

}





.title-h1{
    color:rgb(46, 122, 166);
}

.title-h2 {
    color: var(--theme-color);
}