:root {
   --theme-color: #df2323;
 }
 
 
 .div-title {
   width: 100%;
   height: 150px;
   background-color: var(--theme-color);
   display: flex;
   align-items: center;
   justify-content: center;
 }

.title-h1 {
  color: #064555;
  background-color: #b0e0e6; 
  padding: 10px;
}

.title-h2 {
  color: #df2323;
  background-color: #ffcccc;
  padding: 10px;
}

.title-h3 {
  color: #3abd19;
  background-color: #d4f5d4;
  padding: 10px;
}