:root {
  --theme-color: #0793ca;
}

/* ส่วนหัว */
.div-title {
  width: 100%;
  height: 150px;
  background-color: var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-h1 {
  color: rgb(255, 255, 255);
}

/* กล่องพื้นหลังทั่วไป */
.box {
  border-radius: 10px;
  padding: 20px;
  margin: 25px auto;
  width: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* สีพื้นหลังแต่ละกล่อง */
.box-blue {
  background-color: #a36615;
}

.box-yellow {
  background-color: #3bb162;
}

.box-green {
  background-color: #8ad80c;
}

.box-purple {
  background-color: #ead5ff;
}

/* สีหัวเรื่องแต่ละระดับ */
.title-h2 {
  color: var(--theme-color);
}

.title-h3 {
  color: rgb(238, 29, 39);
}

.title-h4 {
  color: purple;
}

.title-h5 {
  color: rgb(101, 37, 202);
}

/* เพิ่มเอฟเฟกต์ hover ให้กล่อง */
.box:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

    

       
               


 
