/* add Variable */
:root {
    --theme-color: #1a8c4f;
}



/* main setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}



/* navbar setup */
.navbar {
    width: 100%;
    height: 70px;
    background-color:bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



/* section setup */
.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color:rgb(255, 255, 255);
}

.title-h2 {
    color: var(--theme-color);
}