 :root {
   --theme-color: #df2323;
 }
 
 
 .div-title {
   width: 100%;
   height: 150px;
   background-color: var(--theme-color);
   display: flex;
   align-items: center;
   justify-content: center;
 }

.title-h1 {
    color: #ffffff;
} 

.title-h2 {

    color: #df2323;
}
.title-h3 {
    
    color: #df2323;
}