 /* main setup */
 :root {
   --theme-color: #df2323;
 }
 
/* main setup */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
 
img {
   max-width: 100%;
   height: auto;
}



 /* main setup */
 .navbar {
   width: 100%;
   height: 150px;
   background-color:#78db8e;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
 }
 
/* section setup*/
.section-content {
  padding: 0 5rem;
}
 
 .div-title {
   width: 100%;
   height: 150px;
   background-color: var(--theme-color);
   display: flex;
   align-items: center;
   justify-content: center;
 }

.title-h1 {
    color: #ffffff;
} 

.title-h2 {

    color: #df2323;
}
.title-h3 {
    
    color: #df2323;
}