 :root {
   --theme-color: #e2d76e;
 }
 
 
 .div-title {
   width: 100%;
   height: 150px;
   background-color: var(--theme-color);
   display: flex;
   align-items: center;
   justify-content: center;
 }

.title-h1 {
    color: #ffffff;
} 

.title-h2 {
    color: #f8f6f6;
    color: #93f5d7;
}