:root {
  --theme-color: #0793ca;
}
.navbar {
  width: 100%;
  height: 50px;
  background-color:#76b1f0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* ส่วนหัว */
.div-title {
  width: 100%;
  height: 150px;
  background-color: var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-h1 {
  color: rgb(255, 255, 255);
}

/* กล่องพื้นหลังทั่วไป */
.box {
  border-radius: 10px;
  padding: 20px;
  margin: 25px auto;
  width: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* สีพื้นหลังแต่ละกล่อง */
.box-blue {
  background-color: #d0e7ff;
}

.box-yellow {
  background-color: #fff7cc;
}

.box-green {
  background-color: #d5ffd5;
}

.box-purple {
  background-color: #ead5ff;
}

/* สีหัวเรื่องแต่ละระดับ */
.title-h2 {
  color: var(--theme-color);
}

.title-h3 {
  color: orange;
}

.title-h4 {
  color: purple;
}

.title-h5 {
  color: green;
}

/* เพิ่มเอฟเฟกต์ hover ให้กล่อง */
.box:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
