:root {
    --thme-color: rgb(230, 100, 171);
}

/*ส่วนหัว */
.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--thme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color: rgb(19, 214, 214);
}

/* กล่องพื้นหลังทั่วไป */
.box {
border-radius: 10px;
padding: 20px;
margin: 25px auto;
width: 88%;
box-shadow: 0 4px 10px rgb(147, 62, 196);
}

/* สีพื้นหลังแต่ละกล่อง */
.box-blue {
    background-color: rgb(12, 108, 233);
}

.box-yellow {
     background-color: rgb(240, 197, 81);
}

.box-purpie {
     background-color: rgb(221, 94, 221);
}
 
/* สีพื้นหลังแต่ละระดับ */
.title-h2 {
    color:rgb(24, 176, 236);
}

.title-h2 {
    color: var(--thme-color);
}

.title-h3 {
    color: rgb(35, 231, 110);
}

.title-h4 {
    color: rgb(241, 74, 32);
}

.title-h5 {
    color: rgb(240, 52, 61);
}

/* เพิ่มเอฟเกต์ hover ให้กล่อง */
.box:hover {
    transform: scale(1.02);
    transition: 0.3 ease;
    box-shadow: 0 6px 15px rgb(240, 96, 216);
}
