:root {
    --thme-color: rgb(230, 100, 171);
}



/* main setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}


.navbar {
    width: 100%;
    height: 150px;
    background-color: rgb(194, 75, 164);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/*ส่วนหัว */
.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--thme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color: rgb(19, 214, 214);
}

/* กล่องพื้นหลังทั่วไป */
.box {
    border-radius: 10px;
    padding: 20px;
    margin: 25px auto;
    width: 88%;
    box-shadow: 0 4px 10px rgb(147, 62, 196);
}

/* สีพื้นหลังแต่ละกล่อง */
.box-blue {
    background-color: rgb(235, 225, 97);
}

.box-yellow {
     background-color: rgb(224, 127, 220);
}

.box-purple {
     background-color: rgb(39, 220, 226);
}

.box-green {
   background-color: rgb(89, 219, 154); 
}

 
/* สีหัวเรื่องแต่ละระดับ */
.title-h2 {
    color: var(--thme-color);
}

.title-h3 {
    color: rgb(247, 220, 68);
}

.title-h4 {
    color: rgb(236, 99, 35);
}

.title-h5 {
    color: rgb(158, 41, 187);
}

/* เพิ่มเอฟเกต์ hover ให้กล่อง */
.box:hover {
    transform: scale(1.02);
    transition: 0.3 ease;
    box-shadow: 0 6px 15px rgb(240, 96, 216);
}
