.div-tit {
    width: 100%;
    height: 150px;
    background-color: rgb(238, 61, 61);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color: rgb(19, 214, 214);
}

.title-h1 {
    color: rgb(236, 77, 223);
}

