:root {
    --thme-color: rgb(230, 100, 171);
}


.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--thme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color: rgb(19, 214, 214);
}

.title-h2 {
    color: var(--thme-color);
}

.title-h3 {
    color:rgb(248, 212, 94);
}

.title-h4 {
    color:rgb(88, 197, 240);
}

.title-h5 {
    color:rgb(107, 211, 154);
}


