
.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(43, 226, 153);
    display: flex;
    justify-content:center ;
    align-items: center;
}

.div-title {
    width: 100%;
    height: 150px;
    background-color: rgb(96, 255, 255);
    display: flex;
    justify-content:center ;
    align-items: center;
}
title.h1{
    color:blue;
}
title.h2{
    color: var(.h2);
}