.div-title {
    width: 100%;
    height: 150px;
    background-color: rgb(96, 255, 255);
}
.div-title{
    color: aqua(46, 122 166);
}
.box {
    border: 3px solid #3498db;
    padding: 10px;
    box-shadow: 0 0 10px;
}