.div-title {
    width: 100%;
    height: 150px;
    background-color: rgb(96, 255, 255);
}
.div-title{
    color: aqua(46, 122 166);
}
.div-title{
    width: 100%;
    height:  150px;
    background-color: aquamarine(97, 255, 255);
    }
.div-title{
    color: rgb(80, 44, 188)#000;
}