
.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(43, 226, 153);
    display: flex;
    justify-content:center ;
    align-items: center;
   gap: 50px;

}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


img {
    max-width: auto;
    height: auto;

.section-content {

    margin:auto;
}

.div-title {
    width: 100%;
    height: 150px;
    background-color: rgb(96, 255, 255);
    display: flex;
    justify-content:center ;
    align-items: center;
}
.title-h1{
    color:blue;
}
.title-h2{
    color:rgb(126, 144, 8);
}
.title-h3{
    color:rgb(225, 122, 237);
}
.title-a{
    color: tomato;
}
.title-b{
    color: bisque;
}
.title-c{
    color: blueviolet;
}
.title-d{
    color: whitesmoke;
}