:root {
    --theme-color: rgb(47, 109, 160);
}

.navbar {
width: 100%;
    height: 150px;
    background-color:rgb(81, 19, 226)
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color: rgb(197, 96, 223);
}

.title-h2 {
    color: rgb(47, 109, 160);
}

.title-h3 {
    color: rgb(47, 109, 160);
}