:root {
  
 }
 
 
 .div-title {
   width: 100%;
   height: 150px;
  background-color: aqua;
   display: flex;
   align-items: center;
   justify-content: center;
 }

.title-h1 {
    color: #000;
} 

.title-h2 {
    color: #f8f6f6;
    color: #93f5d7;
}




