:root {
    --them-color: rgb(223, 83, 160);
}


.div-title {
width: 100%;
height: 150px;
background-color: var(--them-color)
display: flex;
align-items: center;
justify-content: center;
}

.title-h1 {
    color: rgb(59, 224, 202);
}

.title-h2{
color: var(--them-color)
}