:root{
--theme-color: rgb(106, 250, 250);
}

.navbar{
    width: 100%;
height: 150px;
background-attachment:var(--theme-color) ;
display: flex;
align-items: center;
justify-content: center;
}


/* ส่วนหัว */
.div-title{
width: 100%;
height: 150px;
background-attachment:var(--theme-color) ;
display: flex;
align-items: center;
justify-content: center;
}

.title-h1{
    color: rgb(243, 90, 223);
}

/* กล่องพื้นหลังทั่วไป */
.box{
    border-radius: 10px;
    padding: 20px;
    margin:25px auto;
    width: 80%;
    box-shadow: 0 4px 10px rgb(243, 90, 223);
}

/* สีพื้นหลังแต่ละกล่อง */
.box-blue{
    background-color: rgb(167, 250, 141);
}

.box-yellow{
    background-color: rgb(255, 135, 145);
}

.box-green{
    background-color: rgb(255, 245, 111);
}

.box-purple{
    background-color: rgb(186, 121, 247);
}

/* สีหัวเรื่องแต่ละเรื่อง */
.title-h2{
    columns: var(--theme-color);
}

.title-h3{
    color: rgb(18, 71, 22);
}

.title-h4{
    color: rgb(53, 12, 47);
}

.title-h5{
    color: rgb(187, 20, 20);
}

/*เพิ่มเอฟเฟกต์ ้นอำพ ให้กล่อง*/
.box:hover{
    transform: scale(1.02);
    transition: 0.3s ease;
    box-shadow: 0 6px 15px rgb(255, 135, 145);
}