:root{
--theme-color: rgb(252, 91, 204);
}

.navbar{
    width: 100%;
height: 150px;
background-attachment:var(--theme-color) ;
display: flex;
align-items: center;
justify-content: center;
}


/* ส่วนหัว */
.div-title{
width: 100%;
height: 150px;
background-attachment:var(--theme-color) ;
display: flex;
align-items: center;
justify-content: center;
}

.title-h1{
    color: rgb(243, 90, 223);
}

/* กล่องพื้นหลังทั่วไป */
.box{
    border-radius: 10px;
    padding: 20px;
    margin:25px auto;
    width: 80%;
    box-shadow: 0 4px 10px rgb(245, 137, 230);
}

/* สีพื้นหลังแต่ละกล่อง */
.box-blue{
    background-color: rgb(106, 248, 236);
}

.box-yellow{
    background-color: rgb(255, 191, 255);
}

.box-green{
    background-color: rgb(199, 255, 166);
}

.box-purple{
    background-color: rgb(242, 252, 111);
}

/* สีหัวเรื่องแต่ละเรื่อง */
.title-h2{
    columns: var(--theme-color);
}

.title-h3{
    color: rgb(58, 33, 146);
}

.title-h4{
    color: rgb(226, 15, 15);
}

.title-h5{
    color: rgb(141, 47, 19);
}

/*เพิ่มเอฟเฟกต์ ้นอำพ ให้กล่อง*/
.box:hover{
    transform: scale(1.02);
    transition: 0.3s ease;
    box-shadow: 0 6px 15px rgb(255, 135, 145);
}