:root {
--theme-color: rgb(255, 109, 243);
}

/* main setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
    width: 100%;
    height: auto;
}

.navbar {
width: 100%;
height: 150px;
background-attachment: rgb(255, 109, 243);
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
}


/*section setup*/
.section-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 5rem;
}


/* ส่วนหัว */
.div-title {
width: 100%;
height: 150px;
background-attachment: rgb(255, 109, 243);
display: flex;
align-items: center;
justify-content: center;
}

.title-h1 {
    color: rgb(252, 118, 229);
}

/* กล่องพื้นหลังทั่วไป */
.box {
    border-radius: 10px;
    padding: 20px;
    margin:25px auto;
    width: 80%;
    box-shadow: 0 4px 10px rgb(50, 246, 253);
}

/* สีพื้นหลังแต่ละกล่อง */
.box-blue {
    background-color: rgb(167, 255, 243);
}

.box-yellow {
    background-color: rgb(160, 253, 199);
}

.box-green {
    background-color: rgb(247, 160, 255);
}

.box-purple {
    background-color: rgb(250, 255, 175);
}

/* สีหัวเรื่องแต่ละเรื่อง */
.title-h2 {
    columns: rgb(109, 10, 10);
}

.title-h3 {
    color: rgb(65, 39, 211);
}

.title-h4 {
    color: rgb(226, 15, 15);
}

.title-h5 {
    color: rgb(141, 47, 19);
}

/*เพิ่มเอฟเฟกต์ ้นอำพ ให้กล่อง*/
.box:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
    box-shadow: 0 6px 15px rgb(179, 44, 67);
}