:root {
    --theme-color: #20f53d;
}
.div-title {
    width: 100%;
    height: 100px;
    background-color: #4e91f7;
    display: flex;
    align-content:center;
    justify-content: center;
}

.title-h1 {
    color:rgb(226, 161, 63);
}
.box {
    
}