:root {
    --theme-color: #20f53d;
}
.navbar {
    width: 100%;
    height: 50 px;
    background-color: #5cf32e;
    display: flex;
    align-items:center;
    justify-content:space-between;
    gap: 30px;
}
.div-title{
    width: 100%;
    height: 100px;
    background-color: #1970f1;
    display: flex;
    align-items:center;
    justify-content: center;
}

.title-h1 {
    color:rgb(33, 216, 161);
}
.title-p1 {
    color: #df0101;
}
.title-h2 {
    color: #4414f0;
}
.title-p2 {
    color: #27808b;
}
.title-h3 {
    color: #e24848;
}
.title-p3 {
    color: #c1d451;
}