:root {
    --theme-color: #2835e6;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color:  #7c84ff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color:rgb(255, 255, 255);
}

.title-h2 {
    color: var(--theme-color);
}