:root {
    --theme-color: rgb(218, 111, 152);
}
 <.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
 }

.title-h1 {
color: antiquewhite;
 }

.title-h2 {
color: antiquewhite;
color: rgb(218, 111, 152);
}