:root {
    --theme-color: #89d5f3;
}


/* main setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* main setup */
img {
     max-width: 100%;
     height: auto;
}



/* navbar setup */
.navbar {
width: 100%;
    height: 150px;
    background-color:rgb(238, 165, 226);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* section-content */
.section-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5rem;

}

.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color:rgb(255, 255, 255);
}

.title-h2 {
    color: var(--theme-color);
}
