:root {
    --theme-color: #89d5f3;
}

.navbar {
width: 100%;
    height: 150px;
    background-color:rgb(238, 165, 226);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

img {
     width: 100%;
     height: auto;
}


.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color:rgb(255, 255, 255);
}

.title-h2 {
    color: var(--theme-color);
}
