/* add Variable */
:root {
  --theme-color: #6921ac;
}


/* main setup */
*{margin: 0;
padding: 0;
box-sizing: border-box;
}



img{
    max-width: 100%;
    height: auto;
}



/* navbar setup */
.nav-bar {
    width: 100%;
    height: 50px;
    background-color: rgb(230, 162, 207);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


/* section setup */
.section-content{
    padding: 5 5rem;
}

.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--theme-color); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color:rgb(255, 255, 255);
}

.title-h2 {
    color: var(--theme-color);
    text-align: center;
}