:root {
    --theme-color: #071a0f;
}







.div-title{
width: 100%;
height: 150px;
background-color: rgb(10, 22, 192);
display: flex;
align-items: center;
justify-content: center;
}

.title-h1 {
    color: rgb(226, 75, 15);
}

.title-h2 {
    color: var(--theme-color);
}

.title-h3{
    color: blue;
}
    

   