:root {
    --theme-color: #7f1a8c;
}

.navbar{
  width: 100%;
    height: 150px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center
}
    




.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color:rgb(124, 28, 28);
}

.title-h2 {
    color: var(--theme-color);
}