:root {
    --theme-color: #da51ec;
}

.navbar {
   width: 100%;
   height: 150px;
   background-color: rgb(124, 28, 28);
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 50px;
}

.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color:rgb(255, 254, 254);
}

.title-h2 {
    color: rgb(28, 30, 124);
}

.title-h3 {
    color: rgb(28, 124, 68);
}