:root {
    --theme-color: #1a8c4a;
}







.div-title{
width: 100%;
height: 150px;
background-color: aqua;
display: flex;
align-items: center;
justify-content: center;
}

.title-h1 {
    color: rgb(200, 22, 216);
}

.title-h2 {
    color: var(--theme-color);
}


    

   