/* add Variable */
:root {
    --theme-color: #371458;
}





/* main setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}



/* navbar setup */
.navbar {
    width: 100%;
    height: 70px;
    background-color:rgb(71, 40, 143);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



/* section setup */
.section-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5rem;
}

.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color:rgb(25, 44, 73);
}

.title-h2 {
    color: var(--theme-color);
}