/* add Variable */
:root {
    --theme-color: #54809e;
}



/* main setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}



/* navbar setup */
.navbar {
    width: 100%;
    height: 70px;
    background-color:rgb(91, 135, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}




.div-title {
    width: 100%;
    height: 150px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* section setup */
.section-content{
    padding: 0 5rem;

}


.title-h1 {
    color:rgb(20, 75, 83);
}

.title-h2 {
    color: var(--theme-color);
}