:root {
    --theme-color: #3ad192;
}

.div-title {
    width: 100%;
    height: 150px;
    background-color: #36ad89;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color:rgb(255, 255, 255);
}

.title-h2 {
    color: #18701c;
}