:root {
    --theme-color: #88ffcd;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: #51c2a0;
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 20px;
}

.div-title {
    width: 100%;
    height: 150px;
    background-color: #51c2a0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-h1 {
    color:rgb(255, 255, 255);
}

.title-h2 {
    color: #2a6d2e;
}