:root {
  --them-color:  #2e8ec1;
 }
 



/* main setup*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 img {
   width: 100%;
   height: auto;

}







    .navbar       {
   width: 100%;
   height: 150px;
   background-color:#87ce92;
   display: flex;
   align-items: center;
   justify-content: center;  
   gap: 20px;  
}



/* section setup*/
.section-content{
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 5rem;
}
 
 .div-title {
   width: 100%;
   height: 150px;
   background-color:var(--them-color);
   display: flex;
   align-items: center;
   justify-content: center;
 }

.title-h1 {
    color: #ffffff;
} 

.title-h2 {
    
    color: #150bd7;
}
.title-h3 {
   
    color:  #150bd7;
}